/* navbar and homeimage*/

*{
  box-sizing: border-box;  
}
body{
  font-family: 'Comfortaa', cursive;
  font-weight:500;
  font-size: 1rem;
}
.navbar{
  padding:5px;
  background-image: linear-gradient(#993366,#660033);
  /*background-color: #660033;*/
  /*background: linear-gradient(to bottom left, #006666 0%, #003366 100%);*/
  font-size: 1rem;
  box-shadow: 2px 2px 3px #4b2230;
}

.navbar-brand{
  font-family: 'Comfortaa', cursive;
  text-shadow: 4px 0px 5px rgba(10, 0, 0, 0.84),1px -2px 1px rgba(70, 15, 66, 1);
}
.navbar-expand-lg .navbar-nav .nav-link{
  padding:.5rem 1.5rem;
  font-size: 1rem;  
}

.navbar-toggler:focus{
  box-shadow:0 0 0  0.1rem;
}
.navbar-toggler{
  font-size:1rem;
  border:none;
  margin-left:-12px;
}
.dropdown-toggle::after{
  content: none;
}
.user.dropdown-menu[data-bs-popper]{
  left:-170px;
  top:33px;
}
.dropdown-menu{
  font-size: 0.9rem;
  border:0px;
  border-radius: 0.15rem; 
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; 
} 
.dropdown-menu .dropdown-item:hover,li a.dropdown-item:focus{
  background-color: #3162c4;
  /*rgb(231, 105, 105) */ 
  color:white; 
}
ul.brand.dropdown-menu{
  height:327px;
  overflow-y:auto;
}
ul.brand.dropdown-menu input {
  width:140px;
  font-size: 15px;
  padding:4px;
}
.searchall,.searchmenu{
  width:350px;
  }
.searchmenu{
  height:250px;
  overflow:hidden;
}
.searchmenu li a{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.searchbtn{
  background-color: #3162c4;
  /*background: linear-gradient(to bottom left, #336699 0%, #006666 100%);/*#7A2048*/
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;}
.cart-qnty{
  background-color:#DADBDD ;/*#00A4CCFF*/
}
.fa-cart-shopping span{
  background-color: #3162c4 !important;
}
.homecategory{
background-color: #DADBDD;  
}
.homepagecont{
  margin-top:70px;
}
.loginform input:not([type=checkbox]){
   /*#993366*/
   border:none;
   border-bottom:1px solid rgb(151, 151, 151);  
  }
.loginform input:focus,.loginform input:active{
  outline:none;
  border-bottom:2px solid rgb(106, 142, 206);
  }
.loginform input:-internal-autofill-selected{
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0), inset 0 0 0 100px rgba(255, 255, 255,1);
  }
#modalLoginForm .modal-header{
  /*background-color: #a00854;*/
  background-image: linear-gradient(#993366,#660033);
  color:white;
}
footer{
  display:none;
  font-size: 16px;
  background-image: linear-gradient(#993366,#660033);
}

@media(max-width:662px){
  .navbar .container{
    justify-content: space-between;
  }
  .navbar-brand{order:2;}
  .searchall{order:4;width:70%;margin:auto;left:-20px}
  .cartbutton{order:3;}
  .navbar .navbar-collapse{order:5;}
  .userlogin{display:none;} 
  .copyright{margin-bottom: 47px;}
  
  .homepagecont{
    margin-top:90px;
  }  
}
@media(max-width:768px){
  footer.allpage{
    display:block;
  }
}
@media(max-width:992px) and (min-width:662px){
  .navbar .container{
    justify-content: space-between;
  }
  .navbar-brand{order:2;}
  .searchall{order:3;margin:auto;}
  .cartbutton{order:4;}
  .navbar .navbar-collapse{order:5;}
  .userlogin{display:none;}
}
.homeimg{
  width:100%;
}
.contactbottom{
  background-color: rgba(0, 0, 0, 0.714);
}
.copyright{
  /*background-color: rgb(200, 81, 87);*/
  background-color: #4670c4;
  font-size: 14px;
  padding:10px 0px;
  color: white;
}

/* homepage.html */

.filters input[type]{
  width:18px;
  accent-color:black;
}
.filters label{
 font-size: 15px;
}
.filters form div {
 padding-bottom:12px;
}

.contact{
  color:white;
}
.contact h6{
  margin-bottom: 28px;
}
.contact p,.mail address{
  font-size: 14.5px;
}
