
  <div class="row">
     {% for x in details %}
     <div class="col-6 col-md-4">
       <a href="{% url 'product_info' x.slug %}" class="text-decoration-none text-dark">
         <div class="card mb-3">
           <img src={{x.card_image.url}} class="card-img-top img-fluid" alt="images">  
           <div class="card-body">
              <h6 class="text-nowrap text-truncate">{{x.brand.brand}}</h6>
              <p class="card-title text-secondary text-capitalize text-nowrap text-truncate">{{x.title}}</p>
              {% with s=x.Sellers.all|first %}
                <p class="fs-6 fw-bold">₹{{s.specifications.price}}        
              <span class="text-decoration-line-through ms-2 text-secondary">
                {{s.specifications.mrp}}</span>
              <span class="text-success">{{s.specifications.discount}}%</span>
              {% endwith %}
              </p>
              <p class="text-secondary fw-bold"><small>{{x.all_available_sizes.all|join:", "}}</small></p>
           </div>
         </div>
       </a>  
     </div>
     {% endfor %}
  </div>     
