
  <div class="row">
     {% for x in details %}
     <div class="col-6 col-md-4">
        <div class="card mb-3">
           <img src={{x.card_image.url}} class="card-img-top img-fluid" alt="images">
           <div class="card-body">
              <p class="text-uppercase"><strong>{{x.seller}}</strong></p>
              <p class="text-secondary text-capitalize">{{x.description}}</p>
              <p>₹{{x.price}}</p>
           </div>
        </div> 
     </div>
     {% endfor %}
  </div>     
