{% extends 'parent.html' %}
{% load static %}

{% block newcss %}
   <link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

{% block title %}
   Shopping Cart
{% endblock %}

{% block categories %}
   <div class="container-fluid mt-5 p-4"> 
      <div class="cart">

         {% if user.is_authenticated %}
         <div class="row">
            {% if cartitems %}
            <div class="col-8 p-0">
               <div class="items bg-body m-1 p-3 rounded">
                  <h4 class="text-center shophead">SHOPPING CART</h4> 
                  <hr>
               
                  {% for c in cartitems %}
                  <div class="row my-4">
                     <div class="col-3">
                        <div class="image-container">
                           <img src={{c.cart_image.url}} alt="cart_image" class="img-fluid" width=100 height=130>
                        </div>
                     </div>
                     <div class="col-6">
                        <p class="fw-bold">{{c.brand}}</p>
                        <p class="fw-bold">{{c.title}}</p>
                        {% if c.size == None %}
                        {% else %}
                           <p>Size: {{c.size}}</p>
                        {% endif %}
                        <p>Seller: {{c.seller}}</p>
                        <p>₹{{c.total_price}}
                           <span class="ms-3 text-success text-decoration-line-through fs-6">₹{{c.total_mrp}}</span>
                        </p>
                        <a href="{% url 'save_for_later' c.id %}" class="btn btn-danger btn-sm">Save It For Later</a> 
                        <a href="{% url 'remove_cartitem' c.id %}" class="btn btn-success btn-sm">Remove</a>
                     </div>
                     <div class="col-3">  
                        <div class="btn-group btn-group-sm quantity" role="group" aria-label="quantity">
                           <a class="btn btn-outline-primary" href="{% url 'updateqty' c.id %}">
                              <i class="fa-solid fa-plus"></i></a>
                           <button type="button" class="btn btn-outline-primary border-start-0 border-end-0 fw-bolder">
                              {{c.quantity}}</button>
                           <a class="btn btn-outline-primary" href="{% url 'deleteqty' c.id %}">
                              <i class="fa-solid fa-minus"></i></a>
                        </div>                       
                     </div>
                  </div>
                  <hr>
                  {% endfor %}
                  <button type="button" class="btn btn-warning ms-auto d-block">PLACE THE ORDER</button>
               </div>               
            </div>

            <div class="col-4 p-0 price-details">
               <div class="pricedetails bg-body m-1 p-3 rounded">
                  <h5 class="pricehead">Price Details</h5>
                  <hr class="hrrule">
                  <div class="row">
                     <div class="col-8">
                       <p>Price[{{cart.total_qty}} Items]</p>
                       <p>Discount</p>
                       <p>Delivery Charges</p>
                       <p><b>TOTAL AMOUNT</b></p>
                     </div>
                     <div class="col-4">
                       <p>₹{{total}}</p>
                       <p>-₹{{cart.total_dscnt}}</p>
                       <p>FREE</p>
                       <p><b>₹{{cart.total_amnt}}</b></p>
                     </div>
                  </div>  
               </div>
            </div>
            {% else %}
              <h2 class="text-center">YOUR CART IS EMPTY</h2>
            {% endif %}
         </div>

   <!-- SAVE IT FOR LATER -->
         <div class="row">
          {% if cartitems %}
            <div class="col-8 p-0">
          {% else %}
            <div class="col-12 p-0">
          {% endif %}      
             <div class="save-for-later bg-body m-1 p-3 rounded">
               <h4 class="text-center">SAVE IT FOR LATER</h4>
               <h5 class="text-center">items({{saveit.count}})</h5>
   
              {% for s in saveit %}
              <div class="row my-4">
                 <div class="col-3">
                    <div class="image-container mb-3">
                       <img src={{s.image.url}} alt="cart_image" class="img-fluid" width=100 height=130>
                    </div>
                    <div class="btn-group btn-group-sm quantity" role="group" aria-label="quantity">
                       <a class="btn btn-outline-primary" href="#">
                          <i class="fa-solid fa-plus"></i></a>
                       <button type="button" class="btn btn-outline-primary border-start-0 border-end-0 fw-bolder">
                          {{s.qty}}</button>
                       <a class="btn btn-outline-primary" href="#">
                          <i class="fa-solid fa-minus"></i></a>
                    </div>
                 </div>
                 <div class="col-6">
                    <p class="fw-bold">{{s.brand}}</p>
                    <p class="fw-bold">{{s.title}}</p>
                    {% if s.size == None %}
                    {% else %}
                      <p>Size: {{s.size}}</p>
                    {% endif %}
                    <p>Seller: {{s.seller}}</p>
                    <p>₹{{s.price}}
                       <span class="ms-3 text-success text-decoration-line-through fs-6">₹{{s.mrp}}</span>
                    </p>
                    <a href="{% url 'move_to_cart' s.id %}" class="btn btn-danger btn-sm">Move To Cart</a> 
                    <a href="{% url 'remove_save_later' s.id %}" class="btn btn-success btn-sm">Remove</a>
                 </div>          
               </div>
               <hr>
               {% endfor %}
             </div>
            </div>
         </div>   
         {% else %}
            <h2>Login To Add Items To Cart</h2>
            <button>Login</button>
         {% endif %}   
      </div>
   </div>

{% endblock %}