{% extends 'parent.html' %}
{% load static %}

{% block newcss %}
   <link rel="stylesheet" href="{% static 'css/products.css' %}"> 
{% endblock %}


{% block title %}
Kids Fashions
{% endblock %}

{% block categories %}
  {% include 'sortby.html' with heading="Kids" %}
   
   <!-- Products-->
   <div class="mx-4 my-5 kidspage">
      <div class="row ">
         <div class="col-md-3 filterscontainer">
            <div class="filters">
                <h5>Filters</h5>

                <div class="filtbox p-2 mb-2">
                  <h6 class="fw-bold">Gender</h6>
                  <div class="px-3">
                     <div class="d-flex justify-content-between pb-2">
                        <label for="girls">Girls</label>
                        <input type="radio" id="girls" value="girls" 
                           class="filter-radio" name="gender" 
                           data-filter="gender" data-gender="kids">
                     </div>
                     <div class="d-flex justify-content-between pb-2">
                        <label for="boys">Boys</label>
                        <input type="radio" id="boys" value="boys" 
                            class="filter-radio" name="gender" 
                            data-filter="gender" data-gender="kids">
                     </div>   
                  </div>
                </div>
                
                <div class="all_filters">
                  <div class="accordion accordion-flush" id="filt_accordion">
                   {% for key,value in allproducts.items %}
                      <div id="{{key}}box" class="allfilts">
                         {% include 'other_filters.html' %}
                      </div>
                   {% endfor %}
                  </div>     
               </div> 
            </div>
         </div>    
         <!-- All products images-->

         <div class="col-md-9 products">
            {% include 'cards.html' %}    
         </div>

      </div>
   </div>
{% endblock %}
