
<!-- Modal -->
    <div class="modal fade" id="modalLoginForm" tabindex="-1" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header text-center py-4">
              <h4 class="modal-title w-100 fw-bolder">Login Into Snapquick</h4>
              <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" 
                aria-label="Close"></button>
            </div>  
              <div class="modal-body m-3 loginform text-center">
                 <div class="mb-5">
                    <label for="user_name" class="form-label">
                      <i class="fas fa-user prefix"></i></label>
                    <input type="text" placeholder="Your Username" id="user_name"
                      class="w-75"
                      name="username" class="form-control" required>
                 </div>
                 <div class="mb-2">
                    <label for="passwrd" class="form-label">
                     <i class="fas fa-envelope prefix"></i></label>
                    <input type="password" placeholder="Your Password" id="passwrd"
                       class="w-75"  autocomplete
                       name="password" minlength="2" maxlength="30" required>
                 </div>
                 <div class="mb-4 row">
                   <div class="col-7">
                     <input type="checkbox" checked="checked" name="remember" id="remember">
                     <label for="remember" class="remem form-label">
                      <small>Remember me</small></label>
                   </div>
                   <div class="col-5 forgot text-primary"><small>Forgot Password?</small></div>
                 </div>
                 <div id="errormess">
                 
                </div>
                 <div class="mb-4">
                     <button class="btn btn-primary submit" type="submit">LOGIN</button>
                     <div class="pt-2"><small>New to Fashion?</small>
                        <a href="{% url 'registration' %}" class="text-decoration-none sign">
                           <small>Sign Up here</small></a>
                    </div> 
                 </div>
              </div> 
          </div>
        </div>
    </div>