{% extends 'parent.html' %}
{% load static %}

{% block newcss %}
   <link rel="stylesheet" href="{% static 'css/products.css' %}"> 
{% endblock %}


{% block title %}
Men Fashions
{% endblock %}

{% block categories %}
    {% include 'sortby.html' with heading="Men" %}
   
   <!-- Products-->
   <div class="mx-4 my-5 menpage">
      <div class="row ">
         <div class="col-md-3 filterscontainer">
            <div class="filters">
               <h5>Filters</h5>
               
               <div class="all_filters">
                  <div class="accordion accordion-flush" id="filt_accordion">
                   {% for key,value in allproducts.items %}
                      <div id="{{key}}box" class="allfilts">
                         {% include 'other_filters.html' %}
                      </div>
                   {% endfor %}
                  </div>     
               </div>                      
            </div>
         </div>    
         <!-- All products images-->

         <div class="col-md-9 products">
            {% include 'cards.html' %} 
         </div>
      </div>
   </div>
{% endblock %}
