
{% if value|length == 0 %}
{% else %}
<div class="filtbox p-2 mb-2">
 <h6 class="text-capitalize">{{key}}</h6> 
   <div class="px-3 {{key}}">
      {% if key == 'discount' %}
      {% for k,v in value %}
         <div class="d-flex justify-content-between pb-2">
           <label for="{{key}}{{forloop.counter}}">{{v}}</label>
           <input type="checkbox" id="{{key}}{{forloop.counter}}" data-gender="{{gender}}"
              data-filter="{{key}}" class="filter-checkbox" value="{{k}}">
         </div>
      {% endfor %}   
  {% else %}
     {% for v in value %}
    
         <div class="d-flex justify-content-between pb-2">
           <label for="{{key}}{{forloop.counter}}">{{v.pro}} ({{v.count}})</label>
           <input type="checkbox" id="{{key}}{{forloop.counter}}" data-gender="{{gender}}"
              data-filter="{{key}}" class="filter-checkbox" value="{{v.pro}}">
         </div>
     
      {% endfor %}   
  {% endif %}
   </div>    
</div>
{% endif %}
