{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/0cfdca5d54.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/css/parent.css' %}">
    {% block newcss %}{% endblock %}
    
  </head>
  <body>
      
      <!--navigation bar-->
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
         <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'homepage'%}">SnapQuick</a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menus">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menus">
              <ul class="navbar-nav me-auto navigation">
                 <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'womenpage'%}">Women</a>
                  </li>
                 <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'menpage'%}">Men</a>
                  </li>
                 <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'kidspage'%}">Kids</a>
                 </li>
                 <li class="nav-item dropdown">
                    <a class="nav-link text-white dropdown-toggle" href="#" role="navitem"
                     id="DropdownBrand" data-bs-toggle="dropdown" aria-expanded="false">
                     All Brands</a>
                     <ul class="brand dropdown-menu" aria-labelledby="DropdownBrand">
                        <input type="search" class="mx-auto my-1 d-block" id="brandsearch"
                          placeholder="search brands..." name="bsearch">
                        {% for b in allbrands %}
                          <li><a class="dropdown-item" 
                            href="{% url 'all_brands' %}?brand={{b.brand}}">{{b.brand}}</a>
                          </li>
                        {% endfor %}
                     </ul>
                 </li>
                 
              </ul>
            </div>
            <div class="searchall dropdown me-5">
               <form method="GET" action="{% url 'search_all' %}"> 
                  <div class="input-group input-group-sm">
                    <input type="search" class="form-control dropdown-toggle" placeholder="Search your products.."
                        id="psearch SearchDrop" name="search" data-bs-toggle="dropdown" aria-label="Search your products.." 
                        aria-describedby="button-addon2" autocomplete="off">
                    <input type="hidden" name="searchType" value="ManualSearch">
                    <button class="btn searchbtn" type="submit" id="button-addon2">
                       <i class="fas fa-search text-white"></i>
                    </button>
                    <ul class="searchmenu dropdown-menu" aria-labelledby="SearchDrop">
                     {% for item in automate_search %}
                       <li><a class="dropdown-item" 
                        href="{% url 'search_all' %}?search={{item}}&searchType=AutomateSearch">{{item}}</a></li>
                     {% endfor %}
                  </ul>
                  </div>   
               </form>
            </div>
            <div class="dropdown">
               <a class="text-white userlogin dropdown-toggle pe-4" href="" 
                  id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-user"></i>
              </a>
               <ul class="user dropdown-menu" aria-labelledby="dropdownMenu">
               {% if user.is_authenticated %}
                 <li><a href="{% url 'user_profile' %}" class="dropdown-item"><span class="fs-6 fw-bold">
                  Hi {{user.first_name}}, </span><br>
                  <span class="text-secondary"><small>{{user.email}}</small></span>  
               </a></li>
                 <hr class="m-2">
                 <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
               {% else %}
                 <li><a class="dropdown-item" href="" data-bs-toggle="modal" 
                    data-bs-target="#modalLoginForm">Login/Signup Now</a></li>                      
               {% endif %}
               {% if user.is_super == admin %}
                 <li><a class="dropdown-item" href="{% url 'selleradd' %}">Orders</a></li>
               {% else %}
                 <li><a class="dropdown-item" href="#">Orders</a></li>
               {% endif %}
               </ul>
            </div>
            <!--<a class="text-white cartbutton text-decoration-none" href="{% url 'cart' %}">
               <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">{{quantity}}</span>
               <i class="fa-solid fa-cart-shopping"></i>
            </a>-->
            <a class="text-white cartbutton text-decoration-none me-3" href="{% url 'cart' %}">
               <i class="fa-solid fa-cart-shopping position-relative pt-2">
                  <span class="position-absolute top-0
                  start-100 translate-middle badge rounded-pill 
                  bg-secondary">{{quantity}}</span>
               </i>
            </a>
         </div>
      </nav>
      <form action="{% url 'login' %}" method="POST" id="login">
         {% csrf_token %}
         <div id="formdata">
           {% include 'login.html' %}
         </div>
      </form>
      <div class="pagecontainer">
         {% for message in messages %}
             <div class="alert alert-{{message.tags}} alert-dismissible mx-3 fade show p-1" role="alert">
               <strong>{{ message }}</strong> 
               <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close"></button>
             </div>
         {% endfor %}

         {% block categories %}
         {% endblock %}
      </div>
      

      <div class="contactbottom">
        <div class="contact d-flex justify-content-evenly p-4">
            <div class="help">
                
                <h6>HELP</h6>                
                <p>About Us</p>
                <p>Shipping & Return Policy</p>
                <p>Help Center</p>
                <p>Terms & Conditions</p>
                <p>Privacy Policy</p>
                <p>Responsible Disclosure</p>
            </div>
            <div class="mail">
                 <h6>Mail Us:</h6>
                 <address>
                  SnapQuick Internet (Pvt)Ltd<br>
                  Buildings Alyssa, Begonia<br>
                  Clove Embassy Tech Village,<br>
                  Outer Ring Road,<br>
                  Bengaluru, 560103,<br>             
                  Karnataka, India</address>
            </div>
            <div class="socialmedia">
                 <h6>FOLLOW US</h6>
                 <a href="#" class="text-white"><i class="fa-brands fa-instagram"></i></a>
                 <a href="#" class="text-white"><i class="fa-brands fa-facebook"></i></a>
                 <a href="#" class="text-white"><i class="fa-brands fa-twitter"></i></a>
            </div>
         </div>
         <div class="text-center copyright">© 2019 - 2022 Fashion Pvt.Ltd. All Rights Reserved</div>
      </div>
      
      

      <footer class="footer allpage fixed-bottom text-center">
         <div class="row">
            <div class="col-6">
               <a class="text-white text-decoration-none" data-bs-target="#modalFilter"
                  data-bs-toggle="modal"><i class="fa-sharp fa-solid fa-filter"></i><br>Filters</a>
            </div>
            <div class="col-6">
               <a class="text-white text-decoration-none" {% if user.is_authenticated %} 
                 href="{% url 'user_profile' %}"{% else %} href="#"data-bs-toggle='modal'
                 data-bs-target='#modalLoginForm' {% endif %}>
                  <i class="fa-sharp fa-solid fa-user"></i><br>Account</a>
            </div>  
      </footer>
      {% block newjs %}{% endblock %}
      <script src="{% static 'js/interactions.js' %}"></script>
  </body>
</html>