{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Create a new account</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/0cfdca5d54.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
  </head>
  <body>  
        <div class="container my-5">
          <h1 class="text-center text-white mb-5 fw-bolder">SNAPQUICK</h1>
          <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-7 col-xl-6 col-md-9">
              <div class="card register">
                <div class="card-body p-4 p-md-5">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">Create a new account</h3>
                  
                  <form method="POST" action="{% url 'registration' %}">
                    {% csrf_token %}
                    <div class="row">

                      <div class="col-md-6 mb-3">
                        <div class="form-outline">
                          <input type="text" class="form-control" name="firstname" 
                            id="firstName" required/>
                          <label class="form-label" for="firstName">First Name</label>
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-outline">
                          <input type="text" class="form-control" name="lastname" 
                            id="lastName" required/>
                          <label class="form-label" for="lastName">Last Name</label>
                        </div>
                      </div>

                    </div>
      
                    <div class="row">
                      <div class="col-md-6 mb-3 d-flex align-items-center">
                        <div class="form-outline w-100">
                          <input type="text" class="form-control" name="username" 
                            id="userName" required/>
                          <label for="userName" class="form-label">User Name</label>
                        </div>
                      </div>
                      <div class="col-md-6 mb-3 d-flex align-items-center">
                        <div class="form-outline w-100">
                          <input type="date" class="form-control" name="birthdate"
                            id="birthDate" required/>
                          <label for="birthDate" class="form-label">Birthdate</label>
                        </div>
                      </div>

                    </div>

                    <div class="row">

                      <div class="col-12 mb-3">
                        <h6 class="mb-2 pb-1 d-inline-block me-4">Gender: </h6>
                        <div class="form-check form-check-inline">
                          <input type="radio" class="form-check-input" name="gender" id="femaleGender"
                            value="Female" required/>
                          <label class="form-check-label" for="femaleGender">Female</label>
                        </div>
      
                        <div class="form-check form-check-inline">
                          <input type="radio" class="form-check-input" name="gender" id="maleGender"
                            value="Male" required/>
                          <label class="form-check-label" for="maleGender">Male</label>
                        </div>
      
                        <div class="form-check form-check-inline">
                          <input type="radio" class="form-check-input" name="gender" id="TransGender"
                            value="Transgender" required/>
                          <label class="form-check-label" for="TransGender">Transgender</label>
                        </div>
                      </div>

                    </div>
      
                    <div class="row">

                      <div class="col-md-6 mb-3 pb-2">
                        <div class="form-outline">
                          <input type="email" class="form-control" name="email" 
                             id="emailAddress" required/>
                          <label class="form-label" for="emailAddress">Email</label>
                        </div>
                      </div>
                      <div class="col-md-6 mb-3 pb-2">
                        <div class="form-outline">
                          <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">+91</span>
                            <input type="tel" class="form-control" name="telephone" id="phoneNumber"/>
                          </div>  
                          <label class="form-label" for="phoneNumber">Phone Number</label>
                        </div>
                      </div>

                    </div>

                    <div class="row">

                      <div class="col-md-6 mb-3 pb-2">
                        <div class="form-outline">
                          <input type="password" id="urPassword" name="password" 
                             class="form-control" required/>
                          <label class="form-label" for="urPassword">Password</label>
                        </div>
                      </div>
                      <div class="col-md-6 mb-3 pb-2">
                        <div class="form-outline">
                          <input type="password" id="repeatPass" name="repeatpassword" 
                            class="form-control" required/>
                          <label class="form-label" for="repeatPass">Repeat Password</label>
                        </div>
                        
                      </div>

                    </div>
      
                    <div class="mt-2 pt-2 text-center">
                      <input class="btn btn-primary d-block mx-auto mb-3 submit" type="submit" value="Sign Up"/>
                        <a href="{% url 'signin' %}" class="text-decoration-none sign">Already have an account?</a>
                    </div>
      
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
  </body>
</html>