{% extends 'parent.html' %}
{% load static %}

{% block newcss %}
   <link rel="stylesheet" href="{% static 'css/products.css' %}"> 
{% endblock %}


{% block title %}
Women Fashions
{% endblock %}

{% block categories %}
   {% include 'sortby.html' with heading="women" %}

   <!-- Products-->
   <div class="mx-4 my-5 womenpage">
      <div class="row ">
         <div class="col-md-3 filterscontainer">
            <div class="filters">
               <h5>Filters</h5>
               
               <div class="filtbox p-2 mb-2" >
                   <h6>Category</h6>
                     <div class="px-3">
                      {% for d in allproducts.category %}
                        <div class="d-flex justify-content-between pb-2">
                            <label for="pro{{forloop.counter}}">{{d.women}}</label>
                            <input type="checkbox" id="pro{{forloop.counter}}" data-gender="women"
                               data-filter="category" class="filter-checkbox" value={{d.women}}>      
                        </div>
                      {% endfor %}
                     </div>  
               </div>

               <div class="filtbox p-2 mb-2" >
                  <h6>Size</h6>
                    <div class="px-3">
                     {% for d in allproducts.size %}
                       <div class="d-flex justify-content-between pb-2">
                           <label for="size{{forloop.counter}}">{{d.size}}</label>
                           <input type="checkbox" id="size{{forloop.counter}}" data-gender="women"
                              data-filter="size" class="filter-checkbox" value="{{d.size}}">      
                       </div>
                     {% endfor %}
                    </div>  
               </div>
               <div class="filtbox p-2 mb-2" >
                  <h6>Discount</h6> 
                    <div class="px-3">
                     {% for key,value in allproducts.discounts %}
                       <div class="d-flex justify-content-between pb-2">
                         <label for="offer{{forloop.counter}}">{{value}}</label>
                         <input type="checkbox" id="offer{{forloop.counter}}" data-gender="women"
                            data-filter="discount" class="filter-checkbox" value="{{key}}">
                       </div>
                     {% endfor %}   
                    </div>
               </div> 
            </div>
         </div>  
         <!-- All products images-->
         <div class="col-md-9 products">
           {% include 'cards.html' %} 
         </div>
      </div>
   </div>

{% endblock %}