{% extends 'parent.html' %}
{% load static %}

{% block newcss %}
   <link rel="stylesheet" href="{% static 'css/products.css' %}">
   <link rel="stylesheet" href="{% static 'css/filter_s.css' %}" media="screen and (max-width: 768px)">
   <link rel="stylesheet" href="{% static 'css/filter_md.css' %}" media="screen and (min-width:768px)"> 
{% endblock %}

{% block title %}
Women Fashions
{% endblock %}

{% block categories %}
   {% include 'sortby.html' with heading="Women" %}

   <!-- Products-->
   <div class="mx-4 womenpage">
      <div class="row">
         <div class="col-md-3 d-md-block">
            <div class="filterscontainer">
               <div class="filters">
                  <h6 class="fw-bolder fs-6">Filters</h6>
             
                  <div class="all_filters">
                     <div class="accordion accordion-flush" id="filt_accordion">
                      {% for key,value in allproducts.items %}
                         <div id="{{key}}box" class="allfilts">
                            {% include 'other_filters.html' %}
                         </div>
                      {% endfor %}
                     </div>     
                  </div>
               </div>
            </div>
         </div>   
          
         <!-- All products images-->
         <div class="col-md-9 products">
           {% include 'cards.html' %} 
         </div>
      </div>
   </div>

{% endblock %}

{% block newjs %}

{% endblock %}